h1{
    font-family: "Montserrat", 'Gill Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    color: black;
    font-size: 5em;
    padding-top: 200px;
    margin-top: 0;
    margin-left: 8%;
    margin-bottom: 2%;
}
h2{
    font-family: "Montserrat", 'Gill Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 3em;
    margin: 2%;
    margin-left: 8%;
    width: 60%;
}
h3{
    font-family: "Montserrat", 'Gill Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: black;
    font-size: 2em;
    position: relative;
    margin: 8px 0 5px 0;
}
p{
    font-family: "Lora", 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    color: black;
    font-size: 1.5em;
    position: relative;
    text-align: justify;
    margin: 0;
}

*{
    box-sizing: border-box;
    /* hides the side and downward scroll bars */
    scrollbar-width: none;
    scrollbar-color: rgb(245, 188, 0) #68553900;
}
html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-image: url(../images/Background_Looping.png);
    background-size: contain;
}

header{
    width: 100vw;
    height: 150px;
    position: fixed;
    z-index: 100;
}
#shading{
    width: 100%;
    height: 100%;
    opacity: 0.75;
    pointer-events: none;
    user-select: none;
    mix-blend-mode: multiply;
    position: absolute;
}
#rolling{
    width: 100%;
    height: 100%;
    background-image: url(../images/Background_Looping.png);
    background-size: cover;
}
header nav{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    justify-content: right;
    gap: 10px;
}
header div{
    display: flex;
    justify-content: center;
}
nav a{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -20px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.05s;    
}
nav a:hover{
    transform: translate(-50%, 0);
}
#page-flag{
    transform: translate(-50%, 0);
}
#page-flag:hover{
    transform: translate(-50%, -10px);
}
#home-flag{
    width: 120px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 150;
}
#home-flag a{
    background-image: url(../images/Main_Flag.png);
    background-size: 100% 100%;
    width: 100%;
    height: 133%;
    transform: translate(0, -20px);
    transition: 0.1s; 
}
#home-flag a:hover{
    transform: translate(0, 0);
}
.logo{
    margin-top: 35%;
    margin-left: 6%;
    margin-right: 6%;
    position: relative;
}
.logo img{
    opacity: 1;
}
.header-spacer{
    width: 56%;
}
nav div{
    width: 80px;
    height: 100%;
}
nav div a{
    width: 100%;
    height: 100%;
    background-image: url(../images/Side_Flag.png);
    background-size: 100% 100%;
    font-family: "Montserrat", 'Gill Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.125em;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.mobile-flag{
    display: none;
}

main{
    width: 100%;
    height: fit-content;
    aspect-ratio: 16/9;
}
main img{
    width: 100%;
    height: 150px;
    opacity: 0.75;
    pointer-events: none;
    user-select: none;
    position: fixed;
    top: 150px;
    z-index: 80;
}
.video{
    width: 84%;
    aspect-ratio: 16/9;
    margin-left: 8%;
    margin-top: 0;
    mask-image: url(../images/Video_Mask.svg);
    mask-size: 100% 100%;
}
#breakdown{
    width: 100%;
    height: auto;
}
.scroll-container{
  overflow: auto;
  scrollbar-width:auto;
  scrollbar-color: rgb(245, 188, 0) #68553900;
  white-space: nowrap;
  transition: 2s;
}
.scroll-container img{
    padding: 5px;
    cursor: zoom-in;
}
.clicked-img{
    position: fixed !important;
    width: 70% !important;
    height: initial !important;
    aspect-ratio: 3/2 !important;
    margin-left: 15% !important;
    left: 0 !important;
    top: 50% !important;
    transform: translate(0, -50%) !important;
    z-index: 200 !important;
    cursor: zoom-out !important;
}
.breakdown-text{
    width: 84%;
    height: auto;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

footer{
    width: 100%;
    height: auto;
}
.contact-icons{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.contact-icons a{
    position: relative;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.contact-icons i{
    font-size: 7em;
    color: black;
}
.contact-icons i:hover{
    color: rgb(245, 188, 0);
}
.footer-spacer{
    height: 100px;
    width: 100%;
}