h1{
    font-family: "Montserrat", 'Gill Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    color: black;
    font-size: 5em;
    padding-top: 180px;
    margin-top: 0;
    margin-left: 8%;
    margin-bottom: 2%;
}
h2{
    font-family: "Montserrat", 'Gill Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 3em;
    margin: 2%;
    margin-left: 8%;
    width: 60%;
}
p{
    font-family: "Lora", 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-size: 1.5em;
    position: relative;
    text-align: justify;
}

*{
    box-sizing: border-box;
    /* hides the side and downward scroll bars */
    scrollbar-width: none;
    scrollbar-color: rgb(245, 188, 0) #685539;
}
html, body{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/Background_Looping.png);
    background-size: contain;
}

header{
    width: 100%;
    height: 150px;
    position: fixed;
    z-index: 100;
}
/* placeholder before we have 3d cylinder */
header img{
    width: 100%;
    height: 100%;
}
header nav{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    justify-content: right;
    gap: 10px;
}
header div{
    display: flex;
    justify-content: center;
}
nav a{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -20px);
    display: flex;
    align-items: center;
    justify-content: center;   
    
}
nav a:hover{
    transform: translate(-50%, 0);
}
#home-flag{
    width: 120px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 150;
}
#home-flag a{
    background-color: rgb(245, 188, 0);
    width: 100%;
    height: 133%;
    transform: translate(0, -20px);
}
#home-flag a:hover{
    transform: translate(0, 0);
}
.logo{
    scale: auto;
    margin-top: 35%;
    margin-left: 6%;
    margin-right: 6%;
    position: relative;
}
.header-spacer{
    width: 56%;
}
nav div{
    width: 120px;
    height: 100%;
}
nav div a{
    width: 100%;
    height: 100%;
    background-color: rgb(151, 35, 151);
    font-family: "Montserrat", 'Gill Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.125em;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.mobile-flag{
    display: none;
}

main{
    width: 100%;
    height: fit-content;
    aspect-ratio: 16/9;
}
.video{
    width: 84%;
    aspect-ratio: 16/9;
    margin-left: 8%;
    margin-top: 0;
}

#breakdown{
    width: 100%;
    height: auto;
}
.scroll-container {
  overflow: auto;
  scrollbar-width:auto;
  scrollbar-color: rgb(245, 188, 0) #68553900;
  white-space: nowrap;
}
.scroll-container img {
  padding: 5px;
  /* maybe make the image centre and scale to the box size */
}
.breakdown-text{
    width: 84%;
    height: auto;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

footer{
    width: 100%;
    height: auto;
}
.contact-icons{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.contact-icons a{
    position: relative;
    height: 100px;
    width: 100px;
    background-color: blue;
}
.footer-spacer{
    height: 100px;
    width: 100%;
}