@media screen and (max-width: 760px) {
    h1{
        font-size: 2em;
        padding-top: 130px;
    }
    h2{
        font-size: 1.2em;
    }
    h3{
        font-size: 1.1em;
        margin-bottom: 3px;
    }
    p{
        font-size: 1em;
    }
    header{
        height: 100px;
    }
    .nav-flag{
        display: none;
    }
    #home-flag{
        width: 80px;
    }
    .mobile-flag{
        display: inline;
        width: 80px;
        height: 420px;
        transform: translate(0, -330px);
        transition: 0.5s;
    }
    .flag-down{
        transform: translate(0, 0);
    }
    .mobile-hover{
        background-color: #400C70;
        transform: translate(0, 0);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    /* .mobile-hover:hover{
        transform: translate(0, 20px);
    } */
    .mobile-hover div{
        width: 100%;
        height: 0;
    }
    .mobile-hover a{
        height: 10%;
        font-size: 1em;
        transform: translate(-50%, 0);
    }
    nav div a{
        background-image: none;
    }
    nav a:hover{
        transform: translate(-50%, 0);
        font-size: 1.1em;
    }
    .scroll-container img{
        height: 200px;
        width: 300px;
        padding: 3px;
    }
    .clicked-img{
        width: 84% !important;
        margin-left: 8% !important;
    }
}